# Postgresql configuration
DEBUG=false

DB_USER=dbuser
DB_PASS=password
DB_NAME=gitlabhq_testing,another_db
DB_TEMPLATE=
DB_EXTENSION=
REPLICATION_MODE=
REPLICATION_USER=
REPLICATION_PASS=
REPLICATION_SSLMODE=
DB_EXTENSION=pg_trgm
